<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" mode="side" opened>
    <form class="example-form" (ngSubmit)="defineWord(searchWord)">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Search" [(ngModel)]="searchWord" name="searchWord">
      </mat-form-field>
    </form>
    <mat-card *ngFor="let word of historyWords" (click)="defineWord(word)" style="margin:10px">{{ word }}</mat-card>

  </mat-sidenav>
  <mat-sidenav-content>
    <h1 style="text-align: center;">{{ selectedWord }}</h1>
    <app-def class="def-comp" *ngFor="let def of defs" [def]="def" (defineWord)="defineWord($event)"></app-def>
  </mat-sidenav-content>
</mat-sidenav-container>